@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 10px;
    width: 100%;
    height: 100%;
  background-color: black;
}
          
.card {
 width: 190px;
 height: 254px;
 
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
 

  
}

.card2 {
 width: 190px;
 height: 254px;
 transform: scale(0.98);
 border-radius: 20px;
 background-color: #1a1a1a;
  
  
}


.text-body {
 color: Grey;
  
}

/*Text*/
.text-title {
 font-size: 1.5em;
 height: 0px;
  
 font-weight: bold;
 font-family: 'Nunito', sans-serif;
}

.card-details {
 color: White;
 height: 100%;
 gap: ;
 display: grid;
 place-content: center;
 font-family: 'Nunito', sans-serif;
}